<h2>Edit This Project:</h2>

<div class="form-group">
  <label>Title: <%= project.escape('title') %></label>
</div>
<div class="form-group">
  <label>Description:</label>
  <div class="input-group">
    <textarea
      class="form-control project-body"
      rows="5" name="project[body]"
      ><%= project.escape('body') %></textarea>
  </div>
  <label>Description Preview:</label>
  <div class="preview">
  </div>
</div>
<div class="form-group">
  <label>
    Current Image: <a href="javascript:void(0)" class="add-image">(change)</a>
  </label><br>
  <img src="<%= image %>" class="img-responsive form-image">
</div>
<div class="input-group container-fluid" id="rewards">
  <label>Current Rewards:</label>
</div>

<div class="reward-items">

</div>
<div class="form-group">
  <button class="btn btn-add add-reward">Add Another Reward</button>
</div>

<div class="form-group">
  <% if (errors.length === 1) { %>
    <label>Please fix the following errror before resubmitting the form:</label>
  <% } else if (errors.length > 1) { %>
    <label>Please fix the following errrors before resubmitting the form:</label>
  <% } %>
  <ul class="errors">
    <% errors.forEach( function(error) {%>
      <li><%= error %></li>
    <%})%>
  </ul>
</div>

<button type="submit" class="btn btn-success btn-default form-footer">
  Submit
</button>
<button class="btn btn-cancel btn-default form-footer" id="cancel">
  Cancel
</button>
