<div class="form-group">
  <input
    type="text"
    name="project[title]"
    placeholder="Title"
    class="form-control">
</div>
<div class="form-group">
  <input
    type="textarea"
    name="project[body]"
    placeholder="Description"
    class="form-control">
</div>
<div class="form-group">
<p>Image Upload Placeholder</p>
</div>
<div class="form-group">
  <input
    type="number"
    name="project[goal]"
    placeholder="Goal ($)"
    class="form-control">
</div>
<div class="form-group">
<p>Rewards Placeholder</p>
</div>
<div class="form-group">
  <input
    type="number"
    name="project[duration]"
    placeholder="Duration (in days)"
    class="form-control">
</div>
<div class="form-group">
  <p>Category Placeholder</p>
</div>
<input value="Submit" type="submit">
<button class="btn btn-danger btn-block">Cancel</button>
