<div class="form-group">
  <input
    type="text"
    name="project[title]"
    placeholder="Title"
    class="form-control">
</div>
<div class="form-group">
  <input
    type="textarea"
    name="project[body]"
    placeholder="Enter a description of your project"
    class="form-control">
</div>
<div class="form-group">
<p>Image Upload Placeholder</p>
</div>
<div class="form-group">
  <input
    type="number"
    name="project[goal]"
    placeholder="Goal ($)"
    class="form-control">
</div>

<div class="form-group">
  Reward #1:
  <input
    type="integer"
    name="reward[level]"
    placeholder="Reward Level ($)"
    class="form-control">
</div>
<div class="form-group">
  <input
    type="string"
    name="reward[title]"
    placeholder="Reward Title"
    class="form-control">
</div>
<div class="form-group">
  <input
    type="string"
    name="reward[info]"
    placeholder="Description of this reward"
    class="form-control">
</div>

<div class="form-group">
  <input
    type="number"
    name="project[duration]"
    placeholder="Duration (in days)"
    class="form-control">
</div>
<div class="form-group">
  <p>Category Placeholder</p>
</div>
<button type="submit" class="btn btn-success btn-default">Submit</button>
<button class="btn btn-danger btn-default">Cancel</button>
