<h3><%= project.escape('title') %></h3>
<span class="project-body"><%= marked(project.escape('body')) %></span>
<a href="<%= '#projects/' + project.escape('id') %>">
  <span class="link"></span>
</a>
