<div class="row title-row">
  <div class="col-sm-12 title">
    <h1><%= project.escape('title') %></h1>
  </div>
</div>
<div class="row large-rewards">
  <div class="col-sm-12 rewards-list">
    <h2>Select your reward:</h2>
  </div>
</div>
