<p><%= project.escape('title') %></p>
<div class="row">
  <div class="col-sm-9 left">
    <div class="row">
      <div class="col-sm-6 image">
        <img src="http://placehold.it/150x150">
      </div>
      <div class="col-sm-6 description">
        <div class="row backers">
        </div>
        <div class="row days">
          <%= days %>
        </div>
        <div class="row pledges">
          Pledged of $<%= project.escape('goal')%> goal
        </div>
      </div>
    </div>
  </div>
<div>
