<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 title">
      <a href="/#index"><h2>Start Discovering Projects</h2></a>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function () {
    Enginestarter.initialize();
    if (window.location.href == "https://enginestarter.herokuapp.com") {
      Backbone.history.navigate("index", { trigger: true });
    }

  });
</script>
