<div class="row">
  <div class="col-sm-12 title">
    <h2>Your account</h2>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 title">
    <h3>Email: <%= user.escape('email') %></h3><br>
    <h3>Supported Projects:</h3>
  </div>
</div>
<div class="row">
  <div class="projects">
  </div>
<div class="row">
