<% if (user.has("errors"))  {%>
  <div class="row">
    <div class="col-sm-12 title">
      <h2><%= user.attributes.errors.errors %></h2>
    </div>
  </div>
<% } else {%>
  <div class="row">
    <div class="col-sm-12 title">
      <h2>Your account</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 title">
      <h3>Email: <%= user.escape('email') %></h3><br>
      <h3>Projects You've Supported:</h3>
    </div>
  </div>
  <div class="row">
    <div class="supported-projects">
    </div>
  <div class="row">
  <div class="row">
    <div class="col-sm-12 title">
      <h3>Projects You've Created:</h3>
    <div>
    <div class="owned-projects">
    </div>
  <div class="row">
<% } %>
