<div class="col-sm-12 reward-box top-buffer">
  <span class="reward-level">$<%= reward.escape('level')%></span><br>
  <span class="reward-title"><%= reward.escape('title')%></span><br>
  <span class="reward-info"><%= reward.escape('info')%></span><br>
</div>
