<div class="m-background"></div>
<div class="m-content">
  <% if (notification.responseText) { %>
    <span class="notification"><%= notification.responseText %></span>
  <% } else { %>
    <span class="notification"><%= notification %></span>
  <% } %>

  <button class="close">&times;</button>
</div>
