#projects {
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
}

.projects {
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
}

#categories {
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
}

div.project-preview {
  text-align: left;
  margin: 10px;
  border: 1px solid #eeeeee;
  height: 250px;
  width: 250px;
  padding: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  position: relative;
  border-radius: 5px;
}

.title h3 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  line-height: 30px;
}

div.category {
  text-align: center;
  margin: 10px;
  border: 1px solid #eeeeee;
  height: 100px;
  width: 250px;
  display: inline-block;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}
//

.category-title {
  background-color: #ffffff;
  position: absolute;
  bottom: 0;
  transition: all 0.5s ease;
  height: 90px;
  width: 240px;
  text-align: center;
  z-index: -1;
}

.category:hover .category-title {
  bottom: -100px;
}

.category-info {
  background-color: #aaaaaa;
  position: absolute;
  top: -100px;
  transition: all 0.5s ease;
  height: 100px;
  width: 250px;
  text-align: center;
  z-index: -1;
}

.category:hover .category-info {
  top: 0px;
}

//
div.project-preview:hover {
  background-color: rgba(78 ,212 , 78, 0.8)
}

span.link {
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;
}

div.center {
  margin: 0 auto;
  width: 80%;
}

div.project-body {
  height: 80px;
  width: 218px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  margin-bottom: 15px;
}

div.progress, div.progress-bar {
  height: 5px;
  margin-bottom: 10px;
}

.preview-fig {
  font-size: 24px;
  font-weight: bold;
}

select.categories {
  font-size: 36px;
  font-weight: 500;
  border: 0;
}

img.carousel-image {
  margin: 0 auto;
  max-height: 300px;
}

div.item {
  height: 500px;
}

div.carousel-body {
  margin: 0 auto;
  width: 400px;
  text-align: center;
}

div.carousel-project-body {
  width: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
}
