#projects {
  padding-left: 5%;
  padding-right: 5%;
}

#categories {
  padding-left: 10%;
  padding-right: 10%;
}

div.project-preview {
  text-align: left;
  margin: 10px;
  border: 1px solid #eeeeee;
  height: 150px;
  width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
}

div.category {
  text-align: center;
  margin: 10px;
  border: 1px solid #eeeeee;
  height: 100px;
  width: 250px;
}

div.project-preview:hover, div.category:hover {
  background-color: rgba(78 ,212 , 78, 0.8)
}

span.link {
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;
}

div.center {
  margin: 0 auto;
  width: 80%;
}

div.project-body {
  height: 80px;
  width: 218px;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
}
