//Header nav styles

a.navbar-brand {
  font-size: 30px;
  font-weight: 700;
}

nav a {
  color: #ffffff;
}

.navbar-default .navbar-nav li.session-link a {
  color: #00a0ff;
}

.navbar-default {
  background-color: #ffffff;
}

nav.navbar-default {
  background-color: #ffffff;
}

.navbar-collapse li:hover {
  background-color: #f7fafa;
}

nav {
  font-weight: bold;
  background-color: #ffffff;
}

nav.navbar {
  margin-bottom: 0;
  border-radius: 0px;
}
