.m-background {
  background: rgba(92, 88, 88, 0.6);
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.m-content {
  z-index: 2;
  position: fixed;
  top: 25%;
  left: 25%;
  background-color: white;
  padding: 1pc;
  border: 1px solid;
  border-radius: 5px;
  min-width: 50%;
  text-align: center;
}


span.notification {
  margin-right: 5px;
}
