form.project-form {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 50%;
  border: 1px solid #eeeeee;
  padding: 10px;
}

div.form-group {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}

form.project-form button.form-footer{
  width: 36%;
  margin: 6%;
}

div.reward-item {
  margin: 2%;
  padding: 2%;
  border: 1px solid #eeeeee;
}

span.reward-title {
  padding-bottom: 5px;
}

button.add-reward {
  margin-left: 4%;
  margin-bottom: 10px;
}

.form-inline div.form-group input.form-control {
  width: 100%;
  margin: 0 auto;
}

div.input-group {
  width: 100%
}

ul.errors {
  color: #d9534f;
}

.upload-preview {
  display: block;
  margin: 0 auto;
  max-height: 300px;
  max-width: 100%;
}
