form div.reward-box {
  width: 100%;
}

img.form-image {
  display: block;
  margin: 10px auto;
  max-height: 300px;
}

button.close-reward {
  position: relative;
  float: right;
  margin-top: -8px;
}
