html,body
{
  height: 100%;
}
//LEFT PANE

div.left {
  padding-left: 10%;
}

div .body {
  border: 1px solid #aaaaaa;
}

div .header {
  height: 450px;
  background-color: #f7fafa;
}

.row{
    overflow: hidden;
}

div.image, div.description {
  height: inherit;
}

.top-buffer {
  margin-top:20px;
  height: auto
}

.title {
  text-align: center;
}

div.body {
  padding: 2%;
}

div.desc-content {
  padding: 5%;
}

span.main-figure {
  font-weight: 700;
  font-size: 30pt;
}

span.closed-project {
  font-weight: 700;
  font-size: 24pt;
}

img.project-image {
  display: block;
  margin: 75px auto;
  max-height: 300px;
}

div.support {
  padding-top: 10px;
}

a.btn-success, button.btn-success {
  background-color: #2bde73;
  border: none;
}

a.btn-success:hover, button.btn-success:hover {
  background-color: #1db95c;
  border: none;
}

//RIGHT PANE:
//
div.right {
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 20px;
}
