html,body
{
  height: 100%;
}
//LEFT PANE

div.left {
  padding-left: 10%;
}

div .header, div .body {
  border: 1px solid #aaaaaa;
}

div .header {
  height: 400px;
}

div .description {
  border-left: 1px solid #aaaaaa;
}

.row{
    overflow: hidden;
}

div.image, div.description {
  height: inherit;
}

.top-buffer {
  margin-top:20px;
  height: auto
}

 .title {
   text-align: center;
 }

 div.body {
   padding: 2%;
 }

 div.desc-content {
   padding: 5%;
 }

 span.main-figure {
   font-weight: 700;
   font-size: 30pt;
 }

 span.closed-project {
   font-weight: 700;
   font-size: 24pt;
 }

 img.project-image {
   display: block;
   margin: 50px auto;
   max-height: 300px;
 }

//RIGHT PANE:
//
div.right {
  padding-left: 5%;
  padding-right: 5%;
}
