html,body
{
  height: 100%;
}
//LEFT PANE

div.left {
  padding-left: 10%;
}

div .header, div .body {
  border: 1px solid #aaaaaa;
}

div .description {
  border-left: 1px solid #aaaaaa;
}

.row{
    overflow: hidden;
}

// div.image, div.right, div.left {
//     margin-bottom: -100%;
//     padding-bottom: 100%;
// }

.top-buffer {
  margin-top:20px;
  height: auto
}

 .title {
   text-align: center;
 }

 div.body {
   padding: 2%;
 }

 div.desc-content {
   padding: 5%;
 }

 span.main-figure {
   font-weight: 700;
   font-size: 30pt;
 }

 img.project-image {
   display: block;
   margin: 0 auto;
 }

//RIGHT PANE:
//
div.right {
  padding-left: 5%;
  padding-right: 5%;
}

div.reward-box {
  border: 1px solid #aaaaaa;
  padding: 5%;
}
