<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 title">
      <h2>Pick a category to start exploring projects.
         <a href="#projects" class="project-link">Or, view all projects</a>
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12" id="categories">
    </div>
  </div>
</div>
