<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 title">
      <h1>Pick a category to start exploring projects:</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12" id="categories">
    </div>
  </div>
</div>
